@font-face {
  font-family: 'Audiowide';
  src: url('fonts/Audiowide/Audiowide-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Italic';
  src: url("fonts/Montserrat/static/Montserrat-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Bold Italic';
  src: url("fonts/Montserrat/static/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}