<!doctype html>
<html>
  <head>
    <title>Test mod</title>
    <link rel="icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header id="header" class="hf-hf__header">
      <div class="header" role="navigation">
        <div class="header__wrapper container-fluid wrapper">
          <a class="header___brand" href="https://gx-modder.pb103938.repl.co">
            <img src="/static/title/title.png" width="304" height="38" alt="GX Modder" class="hidden--from-xl">
          </a>
        </div>
      </div>
    </header>
    <audio controls>
      <source class="audio__keysound-gui-info" src="https://cdn.discordapp.com/attachments/582649570832678925/1103123727702556792/ExtraTerrestrial.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </body>
</html>