<!doctype html>
<html>
  <head>
    <script>
      window.addEventListener("beforeunload", function (event) {
        event.preventDefault();
        // Send AJAX request to Flask server to notify it that the tab is being closed
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/close_tab", true);
        xhr.send();
      });
    </script>
    <title>Download mod</title>
    <link rel="icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body style="background-color: #131B23">
    <header id="header" class="hf-hf__header">
      <div class="header" role="navigation">
        <div class="header__wrapper container-fluid wrapper">
          <a class="header___brand" href="https://gx-modder.pb103938.repl.co">
            <img src="/static/title/title.png" width="304" height="38" alt="GX Modder" class="hidden--from-xl">
            
          </a>
        </div>
      </div>
  </header>
    <br>
    <br>
    <br>
    <br>
    <h1 class="downlink__title" align="center">Click below to download your mod!</h1>
    <br>
		<div align="center">
      <form method="POST">
        <input class="downlink__button" type="submit" value="Download Mod" id="downMod">
      </form>
		</div>
  </body>
</html>