<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/styleDark.css" id="colorStyle">
    <title>400 - Access Denied</title>
  </head>
  <body>
    <script src="/static/js/header-footer.js" defer></script>
    <div style="height: 100vh;">
      <div id="pageHeader"></div>
      <br><br>
      <div style="padding: 50px;">
        <h1 style="font-family: 'Audiowide'">400 - Access Denied</h1>
        <p style="font-family: 'Montserrat'">
          Bro. why are you even on this page?
        </p>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ETo5l_RFgPY?" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div id="pageFooter"></div>
  </body>
</html>
