<!doctype html>
<html>
  <head>
    <title>Download mod</title>
    <link rel="icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body style="background-color: #131B23">
    <script src="/static/js/header-footer.js" defer></script>
    <div id="pageHeader"></div>
    <div style="height: 100vh; display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
      <div>
        <h1 class="downlink__title" align="center">Click below to download your mod!</h1>
        <br>
        <div style="display: flex; justify-content: center;">
          <form method="POST">
            <input class="downlink__button" type="submit" value="Download Mod" id="downMod">
          </form>
        </div>
        <br><br>
        <h3 class="downlink__title" align="center">You may receive a prompt saying changes may not be saved. You can ignore this prompt.</h3>
      </div>
    </div>
    <div id="pageFooter"></div>
  </body>
</html>