<!doctype html>
<html>
  <head>
    <!--Needs to stay here-->
    <script>
      var currentURL = window.location.href;

      // Split the URL by '/'
      var urlParts = currentURL.split('/');

      // Find the part of the URL you want to use as 'key' (in this example, it's the second-to-last part)
      var key = "{{ key }}";
      var items = {{ items|tojson }};
      console.log(items)
        
        // Function to select a random item
        function getRandomItem(options) {
            var randomIndex = Math.floor(Math.random() * options.length);
            return options[randomIndex];
        }
      
      document.addEventListener("keydown", function(event) {
        if (event.code === "Space") {
          var audio = new Audio(`/mods/${key}/keyboard/space.wav`);
          audio.play();
        }
        else if (event.code === "Backspace") {
          var audio = new Audio(`/mods/${key}/keyboard/backspace.wav`);
          audio.play();
        }
        else if (event.code === "Enter") {
          var audio = new Audio(`/mods/${key}/keyboard/enter.wav`);
          audio.play();
        }
        else {
          var audio = new Audio(`/mods/${key}/${getRandomItem(items)}`);
          audio.play();
        }
      });
    </script>
    <!--END Needs to stay here-->
    <script src="/static/js/colorFunctions.js" defer></script>
    <script src="/static/js/testPageScript.js" defer></script>
    <title>Test mod</title>
    <link rel="icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/styleDark.css" id="colorStyle">
    <meta name="mod_id" content="{{ key }}"> <!--CHANGE ME TO {{ modID }}-->
  </head>
  <body>
    <script src="/static/js/header-footer.js" defer></script>
    <div id="pageHeader"></div>
    <br><br><br><br><br><br>
    <div style="font-family: 'Montserrat'; margin-left: 50px;">
          <p style="color: red;">*NOTE:</p>
          This testing page is not 100% accurate. Appearances and layouts shown here may differ from those of Opera GX. This is simply a way to get a general idea of how your mod will look before you download it.
        </div>
        <br><br>
    <div class="container">
      <div class="left-content">
        <div>
          <p class="text__main-input-types" style="font-size: 20px;">Keyboard Sounds</p>
        </div>
        {% for i in keybs %}
          <p class="text__main-input-types">{{ i.split("/")[1] }}</p>
          <audio controls class="audio__keysound-gui-info">
            <source src="/mods/{{ key }}/{{ i }}" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
        {% endfor %}
        <div>
          <p class="text__main-input-types" style="font-size: 20px;">Backgound Music</p>
        </div>
        {% for i in music %}
          <p class="text__main-input-types">{{ i.split("/")[1] }}</p>
          <audio controls class="audio__keysound-gui-info">
            <source src="/mods/{{ key }}/{{ i }}" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
        {% endfor %}
        <div>
        <p class="text__main-input-types" style="font-size: 20px;">Browser Sounds</p>
        </div>
        {% for i in sounds %}
          <p class="text__main-input-types">{{ i.split("/")[1] }}</p>
          <audio controls class="audio__keysound-gui-info">
            <source src="/mods/{{ key }}/{{ i }}" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
        {% endfor %}
        <br><br><br><br>
      </div>
      <div class="right-content">
        <br>
        
        <div class="container">
          <div>
            <div class="tab-tester">
              <div class="noBord square" style="width: 28px; height: 22px; background: none; border: none;"></div>
              <div class="square" id="Db1" style="width: 22px; height: 22px; border-bottom: none; border-right: none;">
                <img style="height: 20px; width: 20px;" src="/static/icon.png" type="image/png">
              </div>
              <div class="square" id="Db2" style="width: 156px; height: 22px; text-align: left; font-size: 15px; font-family: Arial; cursor: default; border-left: none; border-bottom: none; border-right: none;" title="Example Tab">Example Tab</div>
              <div class="square" id="Db3" style="height: 22px; width: 22px; margin-right: 10px; border-left: none; border-bottom: none;">
                <button class="close-button" title="Test 'close_tab.mp3'">
                </button>
              </div>
              <button id="P1" class="new_tab" style="font-size: 20px;" title="Test 'new_tab.mp3'">
              +
              </button>
            </div>
            <div class="square" id="ExampleTemplate">
              <div class="tab-tester">
                <div class="square" id="par1" style="height: 60px; width: 28px; border-bottom: none; border-right: none; border-left: none; "></div>
                <div class="square noBord" id="middleman" style="height: 60px; width: 200px; border: none;"></div>
                <div class="square" id="longrect"></div>
              </div>
              <div class="container__example-tab">
                <img id="frame_1"  alt="background image" onerror="this.src='/static/defaultMod/wallpaper/dark-image.png'; this.alt='Alternate image description';" style="height: 563px; width: 1000px;">
                <div class="overlay__example-tab">
                  <div class="book_icon" style="cursor: pointer; background-color: #131B23; left: 250px; top: 130px; width: 125px; height: 70px; clip-path: polygon(15% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%, 0% 15%);">
                    <img style="height: 100%; width: 100%;" src="/static/title/Website Banner.png" type="image/png">
                  </div>
                  <div class="book_text" style="font-size: 15px; left: 250px; top: 195px; width: 135px;">Opera GX Modder</div>
                </div>
                <div class="overlay__example-tab">
                  <div class="square noBord" id="new_cut">
                    <div style="display: flex; flex-wrap: wrap; justify-content: center; text-align: center; align-content: center; height: -webkit-fill-available;">
                      +
                    </div>
                  </div>
              </div>
            </div>
          </div>
          </div>
          <div style="margin-left: 50px; margin-top: 23px;">
            <div class="modProfileContainer">
              <div class="modProfileSplit">
                <div class="modProfileIcon">
                  <img id="modProfileIcon" onerror="this.src='/static/defaultMod/icon.png'; this.alt='Mod Icon';">
                  <div class="modProfileVersion">
                    <div id="modVersion">
                      v0.0
                    </div>
                  </div>
                </div>
                <div class="modProfileInfo">
                  <div class="modProfileTitle">
                    Name:
                    <div class="modProfileText" id="modProfileName"></div>
                  </div>
                  <br>
                  <div class="modProfileTitle">
                    Author:
                    <div class="modProfileText" id="modProfileAuthor"></div>
                  </div>
                  <div></div>
                </div>
              </div>
              <div class="modProfileDesc">
                <div class="modProfileTitle">
                    Description:
                    <div class="modProfileText" id="modProfileDesc"></div>
                  </div>
              </div>
            </div>
            <div style="margin-top: 60px; display: flex; justify-content: center;">
              <form method="post" id="submitForm" enctype="multipart/form-data" onsubmit="modSubmit(event)">
                <input class="downlink__button" style="margin-right: 20px;" type="submit" value="Download Mod" id="downMod" name="generateMod">
                <input type="hidden" id="action" name="action" value="Download Mod">
              </form>
            </div>
          </div>
        </div>
      <br><br>
      <div class="test__miscElements">
        <p class="text__main-input-types" style="font-size: 20px;">Test Elements</p>
        <br>
        <div class="test__miscElementContainer"> <!--Contains all misc elements-->
          
          <div class="test__miscElementContainerRow" style="gap: 178px;"> <!--Contains switch, limiter switch, and feature switch -->
            <!--Switch - normal-->
            <label class="switch" id="swtch" title="Test 'switch.mp3'">
              <input type="checkbox">
              <span class="slider" id="sldr"></span>
            </label>

            <!--Switch - Limiter on/off-->
            <label class="switch" id="lmtr" title="Test 'limiter-on.mp3'">
              <input type="checkbox" id="lmtswtch">
              <span class="slider"></span>
            </label>

            <!--Switch - Feature on/off-->
            <label class="switch" id="ftre" title="Test 'feature-switch-on.mp3'">
              <input type="checkbox" id="ftrswtch">
              <span class="slider"></span>
            </label>
          </div>

          <div class="test__miscElementContainerRow"> <!--Contains important click, level upgrade, and tab slash-->

            <!--important click button-->
            <div class="importantContainer" id="importantClick" title="Test 'important-click.mp3'">
              IMPORTANT CLICK
            </div>

            <!--level upgrade button-->
            <div class="importantContainer" style="width: 60px; font-size: 80px;" id="levelup" title="Test 'level-upgrade.mp3'">
              <div style="position: relative; top: -6px; left: 6px;"><div>↑</div></div>
            </div>

            <!--tab slash test-->
            <div class="tabKillLargeContainer">
              HOT TABS KILLER
              <br><br>
              <div class="tabKillContainer" id="killTabContainer">
                <div class="killTab" id="kt1"><img src="https://www.gstatic.com/images/branding/searchlogo/ico/favicon.ico">google.com <button id="ktb1" title="Test 'tab-slash.mp3'">X</button></div>
                <div class="killTab" id="kt2"><img src="https://www.youtube.com/s/desktop/2c918e63/img/favicon_32x32.png">youtube.com <button id="ktb2" title="Test 'tab-slash.mp3'">X</button></div>
                <div class="killTab" id="kt3"><img src="https://www.redditstatic.com/shreddit/assets/favicon/64x64.png">reddit.com <button id="ktb3" title="Test 'tab-slash.mp3'">X</button></div>
                <div class="killTab" id="kt4"><img src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/62fddf0fde45a8baedcc7ee5_847541504914fd33810e70a0ea73177e%20(2)-1.png">discord.com <button id="ktb4" title="Test 'tab-slash.mp3'">X</button></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <br><br>
      <p class="text__main-input-types" style="font-size: 20px;">Colors</p>
      <div style="display: flex; width: 100vh;">
        <div class="test__colorContainer">
          <p class="text__main-input-types" style="font-size: 16px;">Dark Mode</p>
          <p class="text__main-input-types" style="margin-left: 20px;">GX Accent:</p>
          <div class="square noBord" id="dAccent" style="height: 30px; width: 80px; margin-left: 30px;"></div>
          <p class="text__main-input-types" style="margin-left: 20px;">GX Secondary Base:</p>
          <div class="square noBord" id="dSecondary" style="height: 30px; width: 80px; margin-left: 30px;"></div>
        </div>
        <div style="display: flex; justify-content: right; width: 50vh;">
          <div class="test__colorContainer">
            <p class="text__main-input-types" style="font-size: 16px;">Light Mode</p>
            <p class="text__main-input-types" style="margin-left: 20px;">GX Accent:</p>
            <div class="square noBord" id="lAccent" style="height: 30px; width: 80px; margin-left: 30px;"></div>
            <p class="text__main-input-types" style="margin-left: 20px;">GX Secondary Base:</p>
            <div class="square noBord" id="lSecondary" style="height: 30px; width: 80px; margin-left: 30px;"></div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <div id="pageFooter"></div>
  </body>
</html>