<!doctype html>
<html>
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7224168871546775"
     crossorigin="anonymous"></script>
    <link rel="icon" href="static/icon.png" type="image/png">
    <title>New Main Page</title>
    <meta name="description" content="Make Opera GX mods with ease!">

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="/static/styleDark.css" id="colorStyle">

    <meta property="og:title" content="New Main Page">
    <meta property="og:description" content="Make Opera GX mods with ease!">
    <meta property="og:image" content="/static/embed/Website Banner.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://opera.makeamod.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mod_id" content="{{ modID }}">
</head>
  <body>
    <script src="/static/js/header-footer.js" defer></script>
    <div id="pageHeader"></div>
    <div style="position:  relative; margin-top: 82px;"></div>
    <form method="post" id="submitForm" enctype="multipart/form-data" action="/" onsubmit="handleSubmit(event)">
      <input type="hidden" id="action" name="action" value="Download Mod">
        <div class="catContainer">
            <div class="catList">
                <ul>
                    <li>
                        <div style="margin: 5%;"><br></div>
                        <input type="hidden" name="categoryFilesData" id="categoryFilesData" />
                        <div id="catName" style="color: rgb(0, 89, 255); font-size: 18px;">Categories</div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('KeyboardSounds', this)">
                            <div class="textBox">Keyboard Sounds <div id="KeyboardSoundsCount" class="numBox" maxCt="10">0/10</div></div>
                        </div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('BackgroundMusic', this)">
                            <div class="textBox">Background Music <div id="BackgroundMusicCount" class="numBox" maxCt="5">0/5</div></div>
                        </div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('BrowserSounds', this)">
                            <div class="textBox">Browser Sounds <div id="BrowserSoundsCount" class="numBox" maxCt="15">0/15</div></div>
                        </div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('Wallpapers', this)">
                            <div class="textBox"><div style="display: flex;">Wallpapers <div style="color: red; margin-left: 8px;">(REQUIRED)</div></div><div id="WallpapersCount" class="numBox" maxCt="4">0/4</div></div>
                        </div>
                        <div style="margin: 5%;"><br></div>
                        <div id="modInfoCat" class="category" onclick="displayBox('ModInfo', this), toggleInput()">
                            <div class="textBox"><div style="display: flex;">Mod Info <div style="color: red; margin-left: 8px;">(REQUIRED)</div></div><div id="ModInfoCount" class="numBox" maxCt="2">0/2</div></div>
                        </div>
                        <div style="margin-top: 20%;"><br></div>
                        <input class="downlink__button" style="margin-right: 20px;" type="submit" value="Download Mod" name="generateMod"> <button class="downlink__button" style="background: var(--main-test-mod-button-background-color); color: var(--main-test-mod-button-color);" type="submit" value="Test Mod" name="testButton">Test Mod</button>
                        <div style="margin-top: 30%;"><br></div>
                        <br>
                        <br>
                    </li>
                </ul>
            </div>
            <div class="modBoxDef" id="modBox">
              <div class="uploadContent" id="UploadContent"></div>
              <div style="font-size: 50px;">Select a category to start modding!</div>
            </div>
        </div>
    </form>

    <!-- The Modal Overlay -->
    <div id="modalOverlay" class="modal-overlay"></div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="container">
              <div class="left-content" style="min-width: 30%;">
                <label for="fileTypeSelect">Choose a value:</label>
                <select id="fileTypeSelect" onchange="handleFileTypeChange()">
                    <option value="">Select...</option>
                    <option value="a">a</option>
                    <option value="b">b</option>
                    <option value="c">c</option>
                    <option value="d">d</option>
                    <option value="e">e</option>
                </select>
                <br>
                <div class="modal-text">
                  This will determine what the file will do. The file's name will also be changed to correspond with what it will represent. 
                  If you upload multiple files for the same function, those following the first one will have a number after their name.
                </div>
              </div>
              <div>
                Upload a file:<br>
                <input type="file" id="fileInput" disabled>
                <br><br>
                <div class="modal-text" id="fileDesc"></div>
              </div>
            </div>
            <div class="modal-buttons">
              <button class="modal-button" type="button" id="closeButton">Close</button>
              <button class="modal-button" type="button" id="uploadBtn" onclick="uploadFile()" disabled>Upload</button>
            </div>
        </div>
    </div>
    <script src="/static/js/mainScript.js" defer></script>
    <div id="pageFooter"></div>
  </body>
</html>