<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Conditions</title>
  <link rel="icon" href="/static/icon.png" type="image/png">
  
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/styleDark.css" id="colorStyle">
  <style>
    h2 {
      font-family: 'Montserrat Bold';
      font-size: 30px;
    }

    strong {
      font-family: 'Montserrat Bold';
    }

    h3 {
      font-size: 25px;
    }

    p {
      font-size: 20px;
    }

    .indentList {
      margin-left: 50px;
    }
  </style>
</head>
<body>
  <script src="/static/js/header-footer.js" defer></script>
  <div id="pageHeader"></div>
  <div id="pageBody" style="min-height:100vh; padding: 100px; font-family: 'Montserrat'; text-align: justify;">
    <br>

    <div>
      <h1 style="font-family: 'Audiowide'; font-size: 45px;">Terms and Conditions</h1>
      <h3 style="font-style: italic;">Last updated: May 8, 2026</h3>
    </div>

    <div>
      <p>
        MakeaMod US and its affiliates offers a variety of services through its respective websites and 
        software. The terms of this document govern your use of those services. Please read this document
        carefully and ensure you understand it.
      </p>
    </div>

    <div>
      <h2>1. This is a contract.</h2>
      <div class="indentList">
        <p>
          <strong>a.</strong> These Terms of Service (“General Terms”), along with MakeaMod's Privacy Statement, 
          form a legally-binding contract between you and MakeaMod US as well as its affiliates 
          (“MakeaMod” and “we,” “us” and “our”). By using the Services (as defined below), you are agreeing 
          to be legally bound by these General Terms. If you don't agree with these General Terms, you must 
          immediately discontinue using the Services.
        </p>

        <p>
          <strong>b.</strong> The word “Services”, as used in these general terms, applies to all online services we provide to you through 
          our software applications, websites, and APIs.
        </p>
      </div>
    </div>

    <div>
      <h2>2. We expect you to use our services responsibly.</h2>
      <div class="indentList">
        <p>
          <strong>a.</strong> You agree that you will not use our Services 
          for any purpose which is unlawful or prohibited by these General Terms. 
          You agree to follow all applicable local, state, national, and international 
          laws and regulations. You are solely responsible for all acts or omissions 
          that occur while using any of our Services. This includes the content of any transmissions 
          you send through our Services and any content you upload or publish using our Services.
        </p>

        <p>
          <strong>b.</strong> We expect you to respect the rights of others. By using our Services, 
          you agree that you will not upload, transfer, or otherwise make available files, images, 
          code, materials, or other information or content (“Content”) that violates the rights of any 
          third party, including their intellectual property rights, however defined.
        </p>

        <p>
          <strong>c.</strong> Additionally, you agree not to upload, transfer, or otherwise make available any 
          Content that is obscene, vulgar, sexually-oriented, hateful, or threatening. MakeaMod strictly 
          forbids unsolicited messaging and unauthorized advertisements while using our Services.
        </p>

        <p>
          <strong>d.</strong> MakeaMod has a zero-tolerance policy against child sexual abuse content and will terminate 
          the access of any user who publishes or distributes child sexual abuse content. Furthermore, we will report 
          such users to the appropriate authorities.
        </p>

        <p>
          <strong>e.</strong> You acknowledge that information of any kind presented to you via our Services may be protected 
          by copyright, trademark, patent and/or other proprietary rights and laws. You agree not to violate these laws or 
          infringe these rights in any way.
        </p>

        <p>
          <strong>f.</strong> Certain features of our Services may allow you to publish or send content which can be viewed by others 
          (“User Generated Content”). You agree that MakeaMod is not liable for User Generated Content that is provided by or to others. 
          MakeaMod has no duty to pre-screen User Generated Content, but MakeaMod has the right to refuse to publish, edit, or deliver User 
          Generated Content. MakeaMod reserves the right to remove User Generated Content for any reason, but MakeaMod is not responsible for any 
          failure or delay in removing such material. MakeaMod reserves the right to block any user's access to any content, website or web page 
          at our sole discretion.
        </p>

        <p>
          <strong>g.</strong> MakeaMod does not claim ownership of any User Generated Content. MakeaMod will not store any uploaded Content or User Generated
          Content for a period of time longer than 30 days.
        </p>

        <p>
          <strong>h.</strong> If you upload any Content or User Generated Content to MakeaMod's sites, you warrant that you have the necessary rights and 
          authority to do so, including the necessary consent to upload and distribute any personal information about third persons. You agree that you 
          will not upload viruses or other forms of malware.
        </p>

        <!--
        <p>
          <strong>i.</strong> You are entirely responsible for the security of your MakeaMod Account and Service Specific Accounts. 
          You are also responsible for any and all activities that occur under your MakeaMod Account and Service Specific Accounts.
        </p>
        -->
      </div>
    </div>

    <div>
      <h2>3. Details.</h2>

      <p>
        <strong></strong>
      </p>

      
    </div>


    <!--
    <div class="terms__main-text-info">
      Update coming soon. For now, please refer to the <a href="https://legal.opera.com/terms/" style="color: red;" target="_blank">Opera GX Terms of Service</a> which apply here as well.
    </div>
    -->

  </div>
  <div id="pageFooter"></div>
</html>