<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Conditions</title>
  <link rel="icon" href="/static/icon.png" type="image/png">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header id="header" class="hf-hf__header">
      <div class="header" role="navigation">
        <div class="header__wrapper container-fluid wrapper">
          <a class="header___brand" href="https://gx-modder.pb103938.repl.co">
            <img src="/static/title/title.png" width="304" height="38" alt="GX Modder" class="hidden--from-xl">
          </a>
        </div>
      </div>
  </header>
  <h1 style="font-family: 'Bruce Forever'">Terms and Conditions</h1>
  <p class="terms__main-title-info">Copyright Info:</p>
  <div class="terms__main-text-info">
    There is currently no copyright info but there will be soon. This is subject to change quickly and without notice. Please note that this website is not affiliated with Opera in any way.
  </div>
  <p class="terms__main-title-info">Terms of Service:</p>
  <div class="terms__main-text-info">
    Update coming soon. For now, please refer to the <a href="https://legal.opera.com/terms/" style="color: red;" target="_blank">Opera GX Terms of Service</a> which apply here as well.
  </div>
</html>