<!doctype html>
<html>
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7224168871546775"
     crossorigin="anonymous"></script>
    <link rel="icon" href="static/icon.png" type="image/png">
    <title>New Main Page</title>
    <meta name="description" content="Make Opera GX mods with ease!">
    <link rel="stylesheet" href="static/style.css">
    <meta property="og:title" content="New Main Page">
    <meta property="og:description" content="Make Opera GX mods with ease!">
    <meta property="og:image" content="/static/embed/Website Banner.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://opera.makeamod.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      window.addEventListener("DOMContentLoaded", function() {
        let lph = document.getElementById("lph");
        if (lph.value === '') {
          lph.value = 352; // Set the default value to 5
        }
        let lps = document.getElementById("lps");
        if (lps.value === '') {
          lps.value = 90; // Set the default value to 5
        }
        let lpl = document.getElementById("lpl");
        if (lpl.value === '') {
          lpl.value = 54; // Set the default value to 5
        }
        let lah = document.getElementById("lah");
        if (lah.value === '') {
          lah.value = 254; // Set the default value to 5
        }
        let las = document.getElementById("las");
        if (las.value === '') {
          las.value = 35; // Set the default value to 5
        }
        let lal = document.getElementById("lal");
        if (lal.value === '') {
          lal.value = 12; // Set the default value to 5
        }
        let dph = document.getElementById("dph");
        if (dph.value === '') {
          dph.value = 352; // Set the default value to 5
        }
        let dps = document.getElementById("dps");
        if (dps.value === '') {
          dps.value = 90; // Set the default value to 5
        }
        let dpl = document.getElementById("dpl");
        if (dpl.value === '') {
          dpl.value = 54; // Set the default value to 5
        }
        let dah = document.getElementById("dah");
        if (dah.value === '') {
          dah.value = 254; // Set the default value to 5
        }
        let das = document.getElementById("das");
        if (das.value === '') {
          das.value = 35; // Set the default value to 5
        }
        let dal = document.getElementById("dal");
        if (dal.value === '') {
          dal.value = 12; // Set the default value to 5
        }
      });
    </script>
</head>
  <body style="background: rgb(28, 29, 36);">
    <script>
    function headers() {
    fetch('/static/header-footer.html') // Replace 'path/to/other/file.html' with the actual path to your other HTML file.
      .then(response => response.text())
      .then(html => {
        // Create a temporary container element to hold the fetched content.
        const tempContainer = document.createElement('div');
        tempContainer.innerHTML = html;
  
        // Find the element you want to clone inside the temporary container.
        const sourceElement = tempContainer.querySelector('#header');
  
        if (sourceElement) {
          // Clone the element and its children.
          const clonedElement = sourceElement.cloneNode(true);
  
          // Insert the cloned element into the destination element.
          const destinationElement = document.getElementById('pageHeader');
          destinationElement.appendChild(clonedElement);
        }
      })
      .catch(error => {
        console.error('Error fetching the file:', error);
      });
    };
    
    function footers() {
    fetch('/static/header-footer.html') // Replace 'path/to/other/file.html' with the actual path to your other HTML file.
      .then(response => response.text())
      .then(html => {
        // Create a temporary container element to hold the fetched content.
        const tempContainer = document.createElement('div');
        tempContainer.innerHTML = html;
  
        // Find the element you want to clone inside the temporary container.
        const sourceElement = tempContainer.querySelector('#footer');
  
        if (sourceElement) {
          // Clone the element and its children.
          const clonedElement = sourceElement.cloneNode(true);
  
          // Insert the cloned element into the destination element.
          const destinationElement = document.getElementById('pageFooter');
          destinationElement.appendChild(clonedElement);
        }
      })
      .catch(error => {
        console.error('Error fetching the file:', error);
      });
    };

    headers();
    footers();
    
    </script>
    <div id="pageHeader"></div>
    <div style="position:  relative; margin-top: 82px;"></div>
    <form method="POST" enctype="multipart/form-data">
        <div class="catContainer">
            <div class="catList">
                <ul>
                    <li>
                        <div style="margin: 5%;"><br></div>
                        <div id="catName" style="color: rgb(0, 89, 255); font-size: 20px;">Categories</div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('KeyboardSounds', this)">
                            <div class="textBox">Keyboard Sounds</div>
                        </div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('BackgroundMusic', this)">
                            <div class="textBox">Background Music</div>
                        </div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('BrowserSounds', this)">
                            <div class="textBox">Browser Sounds</div>
                        </div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('Wallpapers', this)">
                            <div class="textBox">Wallpapers</div>
                        </div>
                        <div style="margin: 5%;"><br></div>
                        <div class="category" onclick="displayBox('ModInfo', this)">
                            <div class="textBox" style="display: flex;">Mod Info <div style="color: red; margin-left: 8px;">(REQUIRED)</div></div>
                        </div>
                        <div style="margin-top: 20%;"><br></div>
                        <input class="downlink__button" style="margin-right: 20px;" type="submit" value="Download Mod" name="generateMod"> <button class="downlink__button" type="submit" value="Test Mod" name="testButton">Test Mod</button>
                        <div style="margin-top: 30%;"><br></div>
                        <br>
                        <br>
                    </li>
                </ul>
            </div>
            <div class="modBoxDef" id="modBox">
              <div class="uploadContent" id="UploadContent"></div>
              <div style="color: white; font-size: 50px;">Select a category to start modding!</div>
            </div>
        </div>
    </form>

    <!-- The Modal Overlay -->
    <div id="modalOverlay" class="modal-overlay"></div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="container">
              <div class="left-content" style="min-width: 30%;">
                <label for="fileTypeSelect">Choose a file:</label>
                <select id="fileTypeSelect" onchange="handleFileTypeChange()">
                    <option value="">Select...</option>
                    <option value="a">a</option>
                    <option value="b">b</option>
                    <option value="c">c</option>
                    <option value="d">d</option>
                    <option value="e">e</option>
                </select>
                <br>
                <div class="modal-text">
                  This will determine which file you upload.
                </div>
              </div>
              <div>
                <input type="file" id="fileInput" disabled>
              </div>
            </div>
            <div class="modal-buttons">
              <button class="modal-button" type="button" id="closeButton">Close</button>
              <button class="modal-button" type="button" id="uploadBtn" onclick="uploadFile()" disabled>Upload</button>
            </div>
        </div>
    </div>

    <script>
      let activeCategory = null;
      let categoryFiles = {
          KeyboardSounds: [],
          BackgroundMusic: [],
          BrowserSounds: [],
          Wallpapers: [],
          ModInfo: []
      };
      let currentCategory = '';
      let modal = document.getElementById("myModal");
      let modalOverlay = document.getElementById("modalOverlay");
      let fileInput = document.getElementById("fileInput");
      let uploadBtn = document.getElementById("uploadBtn");
  
      // Define category-specific file type options
      const categoryFileTypeOptions = {
          KeyboardSounds: [
              { value: 'wav', label: 'Backspace Key' },
              { value: 'wav', label: 'Enter (Return) Key' },
              { value: 'wav', label: 'Space Key' },
              { value: 'wav', label: 'Other Key' },
          ],
          BackgroundMusic: [
              { value: 'mp3', label: 'Background Song' }
          ],
          BrowserSounds: [
              { value: 'mp3', label: 'Click' },
              { value: 'mp3', label: 'Close Tab' },
              { value: 'mp3', label: 'Feature Switch Off' },
              { value: 'mp3', label: 'Feature Switch On' },
              { value: 'mp3', label: 'Hover' },
              { value: 'mp3', label: 'Important Click' },
              { value: 'mp3', label: 'Level Upgrade' },
              { value: 'mp3', label: 'Limiter Off' },
              { value: 'mp3', label: 'Limiter On' },
              { value: 'mp3', label: 'New Tab' },
              { value: 'mp3', label: 'Switch' },
              { value: 'mp3', label: 'Tab Slash' }
          ],
          Wallpapers: [
              { value: 'png', label: 'Static Light Wallpaper' },
              { value: 'png', label: 'Static Dark Wallpaper' },
              { value: 'webm', label: 'Dynamic Light Wallpaper' },
              { value: 'webm', label: 'Dynamic Dark Wallpaper' }
          ],
          ModInfo: [
              { value: 'txt', label: 'License' },
              { value: 'png', label: 'Icon (512x512)' }
          ]
      };
  
      function displayBox(category, element) {
          // Prevent changing categories when modal is open
          if (modal.style.display === "block") return;
  
          var content = document.getElementById('modBox');
          var catName = document.getElementById('catName');
          var fullCat = cateName(category);
          currentCategory = category;
  
          if (activeCategory === element) {
              content.innerHTML = '<div class="message" style="color: white; font-size: 50px;">Select a category to start modding!</div>';
              catName.innerHTML = 'Categories';
              catName.style.fontSize = "20px";
              element.classList.remove('active');
              activeCategory = null;
               content.className = "modBoxDef"
          } else {
              content.className = "modBox"
              catName.innerHTML = `Category: ${fullCat}`;
              catName.style.fontSize = "18px";
              var xhr = new XMLHttpRequest();
              xhr.open('GET', '/static/categories.html', true);
              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                      var tempDiv = document.createElement('div');
                      tempDiv.innerHTML = xhr.responseText;
                      var newContent = tempDiv.querySelector('#' + category);
                      content.innerHTML = newContent ? newContent.innerHTML : '<div class="message">No content available</div>';
                      displayUploadedFiles(category);  // Display files for the selected category
                  }
              };
              xhr.send();
  
              if (activeCategory) {
                  activeCategory.classList.remove('active');
              }
              element.classList.add('active');
              activeCategory = element;
          }
      }
  
      function displayUploadedFiles(category) {
        const uploadsDiv = document.getElementById(`${category}Uploads`);
        uploadsDiv.innerHTML = '';

        categoryFiles[category].forEach((file, index) => {
            const fileDiv = document.createElement('div');
            fileDiv.classList.add('fileContainer');
            
            // Create a file name and remove button
            let fileContent = `<div class="fileInfo">
                                <span>${file.name}</span> 
                                <br> 
                                  <button type="button" onclick="removeFile('${category}', ${index})">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="red" version="1.1" id="Capa_1" width="25px" height="25px" viewBox="0 0 482.428 482.429" xml:space="preserve">
                                      <g>
                                        <g>
                                          <path d="M381.163,57.799h-75.094C302.323,25.316,274.686,0,241.214,0c-33.471,0-61.104,25.315-64.85,57.799h-75.098    c-30.39,0-55.111,24.728-55.111,55.117v2.828c0,23.223,14.46,43.1,34.83,51.199v260.369c0,30.39,24.724,55.117,55.112,55.117    h210.236c30.389,0,55.111-24.729,55.111-55.117V166.944c20.369-8.1,34.83-27.977,34.83-51.199v-2.828    C436.274,82.527,411.551,57.799,381.163,57.799z M241.214,26.139c19.037,0,34.927,13.645,38.443,31.66h-76.879    C206.293,39.783,222.184,26.139,241.214,26.139z M375.305,427.312c0,15.978-13,28.979-28.973,28.979H136.096    c-15.973,0-28.973-13.002-28.973-28.979V170.861h268.182V427.312z M410.135,115.744c0,15.978-13,28.979-28.973,28.979H101.266    c-15.973,0-28.973-13.001-28.973-28.979v-2.828c0-15.978,13-28.979,28.973-28.979h279.897c15.973,0,28.973,13.001,28.973,28.979    V115.744z"/>
                                          <path d="M171.144,422.863c7.218,0,13.069-5.853,13.069-13.068V262.641c0-7.216-5.852-13.07-13.069-13.07    c-7.217,0-13.069,5.854-13.069,13.07v147.154C158.074,417.012,163.926,422.863,171.144,422.863z"/>
                                          <path d="M241.214,422.863c7.218,0,13.07-5.853,13.07-13.068V262.641c0-7.216-5.854-13.07-13.07-13.07    c-7.217,0-13.069,5.854-13.069,13.07v147.154C228.145,417.012,233.996,422.863,241.214,422.863z"/>
                                          <path d="M311.284,422.863c7.217,0,13.068-5.853,13.068-13.068V262.641c0-7.216-5.852-13.07-13.068-13.07    c-7.219,0-13.07,5.854-13.07,13.07v147.154C298.213,417.012,304.067,422.863,311.284,422.863z"/>
                                        </g>
                                      </g>
                                    </svg>
                                  </button>
                                </div>`;

            // Check if the file is an audio file
            const fileExtension = file.name.split('.').pop().toLowerCase();
            if (fileExtension === 'mp3' || fileExtension === 'wav') {
                // Create an audio element
                const audioElement = document.createElement('audio');
                audioElement.classList.add('fileAudio')
                audioElement.controls = true;

                // Create a URL for the file and set it as the source of the audio element
                const fileURL = URL.createObjectURL(file);
                audioElement.src = fileURL;

                // Append the audio element to the file content
                fileContent += '<br>';
                fileDiv.appendChild(audioElement);
            }

            fileDiv.innerHTML += fileContent;
            uploadsDiv.appendChild(fileDiv);
        });
      }

  
      function addFileInput(category) {
          currentCategory = category;
          modal.style.display = "block";
          modalOverlay.style.display = "block";
  
          // Update the dropdown options based on the category
          const select = document.getElementById('fileTypeSelect');
          select.innerHTML = '<option value="">Select...</option>';
          categoryFileTypeOptions[category].forEach(option => {
              select.innerHTML += `<option value="${option.value}">${option.label}</option>`;
          });
  
          // Reset file input and upload button
          fileInput.value = '';
          fileInput.disabled = true;
          uploadBtn.disabled = true;
      }
  
      function handleFileTypeChange() {
        const select = document.getElementById('fileTypeSelect');
        const fileType = select.value;

        if (fileType === '') {
            fileInput.value = ''; // Clear previous file input
            fileInput.disabled = true;
            uploadBtn.disabled = true;
        } else {
            fileInput.disabled = false;
            uploadBtn.disabled = false;
            fileInput.accept = '.' + fileType;
        }
      }

  
      function uploadFile() {
          const file = fileInput.files[0];
          if (file) {
              categoryFiles[currentCategory].push(file);
              displayUploadedFiles(currentCategory);
              closeModal();
          }
      }
  
      function removeFile(category, index) {
          categoryFiles[category].splice(index, 1);
          displayUploadedFiles(category);
      }
  
      function closeModal() {
          modal.style.display = "none";
          modalOverlay.style.display = "none";
          document.getElementById('fileTypeSelect').value = '';
          fileInput.value = '';
          fileInput.disabled = true;
          uploadBtn.disabled = true;
      }

      function cateName(category) {
        if (category === 'KeyboardSounds') {
          return 'Keyboard Sounds';
        }
        else if (category === 'BackgroundMusic') {
          return 'Background Music';
        }
        if (category === 'BrowserSounds') {
          return 'Browser Sounds';
        }
        if (category === 'ModInfo') {
          return 'Mod Info';
        }

        else {return category;}
      }
  
      // Close the modal when the user clicks on <span> (x)
      document.querySelector('.close').onclick = closeModal;
      document.getElementById('closeButton').onclick = closeModal;
  
      // Close the modal when the user clicks anywhere outside of the modal content
      window.onclick = function(event) {
          if (event.target === modalOverlay) {
              closeModal();
          }
      }
    </script>
    <div id="pageFooter"></div>
  </body>
</html>